<html>
  <head>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" rel="stylesheet"></link>
    <link href="/main.css" rel="stylesheet"></link>
    <link href="http://sinatra.github.com/images/favicon.ico" rel="shortcut icon"></link>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  </head>
  <body>
    <header class="navbar navbar-expand flex-md-row bd-navbar">
      <%= erb :header %>
      <%= erb :article_modal %>
      <%= erb :source_modal %>
    </header>
    <div class="container-fluid px-0">
      <div class="row-fluid flash-containter">
        <%= styled_flash %>
      </div>
      <% if current_user %>
        <div class="row-fluid action-bar">
          <%= erb :action_bar %>
        </div>
      <% end %>
      <div class="row p-3">
        <% if current_user %>
          <div class="col col-lg-3">
            <%= erb :sidebar %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <footer class="navbar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="mailto:ckahle33@gmail.com">
            Feedback / Comments
          </a>
        </li>
      </ul>
    </footer>
    <script src="./public/app.js"></script>
  </body>
</html>
