%html!
  %head
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin: "anonymous"}
    %link{rel: "shortcut icon", href: "http://sinatra.github.com/images/favicon.ico"}
    %link{href: "/main.css", rel: "stylesheet"}

  %body
    %header.navbar.navbar-expand.flex-md-row.bd-navbar
      = haml :header

    .container-fluid.px-0
      .row-fluid.flash-containter
        = styled_flash

      - if current_user
        .row-fluid.action-bar
          = haml :create_source

      .row.p-3
        - if current_user
          .col.col-lg-3
            = haml :sidebar
        = yield

    %footer.navbar
      %ul.nav
        %li.nav-item
          %a.nav-link{href: "mailto:ckahle33@gmail.com"}
            feedback / comments
