- if @user_sources
  %ul.sidebar
    - @user_sources.each do |us|
      %li
        %span
          %image.favicon{src: "#{us.source.favicon}"}
        %a{href: "#{base_url}/sources/#{us.source.id}"}
          = us.source.name.downcase
          |
          %a{href: "/remove/#{us.id}"}
            remove
- else
  add sources to your feed
