<% if @user_sources %>
  <h3>
    My Sources
  </h3>
  <ul class="pure-menu-list">
    <% @user_sources.each do |us| %>
      <li class="pure-menu-item">
        <span>
          <image class="favicon" src="<%= us.source.favicon %>"></image>
        </span>
        <a href="<%= base_url %>/sources/<%= us.source.id %>">
          <%= us.source.name.downcase %>
          |
          <a href="/remove/<%= us.id %>">
            remove
          </a>
        </a>
      </li>
    <% end %>
  </ul>

  <a class="nav-link" href="mailto:ckahle33@gmail.com">
    Feedback / Comments
  </a>
<% else %>
  add sources to your feed
<% end %>
