%h3
  = @title

%ul
- @headlines.each do |h|
  %li
    = Date.parse(h['publishedAt']).strftime('%m/%d/%Y | %l%p') if h['publishedAt']
    |
    %a{href: "#{base_url}/#{h['url']}"}
      = h['title']

