.col.col-9
  %h3
    %span
      %image.favicon{src: "#{@source.favicon}"}
    = @source.name

  // should be queued in a worker
  %a{href: "/refresh/#{@source.id}", class: "badge badge-success"}
    Refresh Feed

  .tags
    - @source.tags.each do |t|
      %a{href: "/tag/#{t.id}", class: "badge badge-info"}
        = t.name

    %ul
    - @articles.each do |a|
      %li
        = a.published_at.strftime('%m/%d/%Y') if a.published_at
        |
        %a{href: "#","data-title": a.title, "data-body": a.body, "data-url" => a.url, "data-target" => "#articleModalLong", "data-toggle" => "modal"}

          = a.title
